@import "../../style/vars.scss";

.wrapperBtn {
  height: 55px;
  max-width: 495px;
  width: 100%;
  margin: 0 10px 30px 0;
  @media (max-width: 1550px) {
    height: 50px;
  }
  @media (max-width: 1440px) {
    height: 40px;
  }
  @media (max-width: 1000px) {
    height: 26px;
  }
  @media (max-width: 768px) {
    height: 22px;
    margin: 0 10px 10px 0;
  }
  @media (max-width: 675px) {
    height: 20px;
  }
  @media (max-width: 600px) {
    height: 18px;
  }
  @media (max-width: 500px) {
    height: 15px;
    margin: -3px 5px 10px 0;
  }
  @media (max-width: 390px) {
    height: 13px;
    margin: -6px 5px 10px 0;
  }
  .btn {
    width: 100%;
    height: 100%;
    border-radius: 23px;
    background: rgb(242, 242, 243);
    border: none;
    font-size: 22px;
    line-height: 100%;
    font-family: $font-family;
    cursor: pointer;
    @media (max-width: 1500px) {
      font-size: 20px;
    }
    @media (max-width: 1440px) {
      font-size: 16px;
    }
    @media (max-width: 1000px) {
      font-size: 11px;
      border-radius: 12px;
    }
    @media (max-width: 768px) {
      font-size: 8px;
      border-radius: 8px;
    }
    @media (max-width: 500px) {
      font-size: 6px;
    }
    @media (max-width: 390px) {
      font-size: 5px;
      border-radius: 5px;
    }
  }
}
