@import "../../style/vars.scss";

.wrapperOrderWindow {
  background-color: rgba(0, 0, 0, 0.253);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapperOrder {
    width: 400px;
    height: 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px 10px;
    @media (max-width: 1100px) {
      width: 300px;
      height: 140px;
    }
    @media (max-width: 600px) {
      width: 200px;
      height: 100px;
    }
    p {
      font-family: $font-family;
      font-size: 22px;
      text-align: center;
      margin-bottom: 20px;
      @media (max-width: 1100px) {
        font-size: 16px;
        margin-bottom: 15px;
      }
      @media (max-width: 600px) {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
    button {
      margin-left: 85px;
      width: 220px;
      height: 40px;
      cursor: pointer;
      @media (max-width: 1100px) {
        width: 180px;
        height: 30px;
        margin-left: 57px;
      }
      @media (max-width: 600px) {
        width: 100px;
        height: 20px;
        margin-left: 42px;
      }
    }
  }
}
