@import "../../style/template.scss";
.oneItemNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 50px;
  gap: 15px;
  padding: 20px 20px;
  cursor: pointer;
 

  @media (max-width: 1440px) {
    gap: 8px;
    padding: 8px 14px;
  }
  @media (max-width: 768px) {
    gap: 4px;
    padding: 3px 8px;
  }
  .imgSize {
    width: 30px;
    height: 30px;
   
    @media (max-width: 1440px) {
      width: 24px;
      height: 24px;
    }
    @media (max-width: 768px) {
      width: 16px;
      height: 16px;
    }
  }
  p {
    font-family: Nunito;
    line-height: 22px;
    font-size: 22px;
   
    @media (max-width: 1440px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}
.checked {
  background: rgb(255, 171, 8);
}
