@import "../../style/template.scss";

.wrapperHeader {
  max-width: 1920px;
  min-height: 620px;
  background-image: url("../../assets/headerBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  padding-top: 40px;
  @media (max-width: 1440px) {
    background-size: contain;
    min-height: 466px;
    padding-top: 24px;
  }
  @media (max-width: 768px) {
    background-size: contain;
    min-height: 260px;
    padding-top: 12px;
  }
  .wrapperLogo {
    display: flex;
    justify-content: center;
    .logo {
      margin-bottom: 29px;
      @media (max-width: 768px) {
        width: 100px;
        height: 25px;
        margin-bottom: 10px;
      }
    }
  }
  .mainInfoHeader {
    display: flex;
    justify-content: center;
    gap: 80px;
    @media (max-width: 1440px) {
      gap: 58px;
    }
    @media (max-width: 768px) {
      gap: 35px;
    }
    .headerText {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: 768px) {
        gap: 6px
      }
      .deliveryText {
        color: rgb(255, 255, 255);
        font-family: Nunito;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 20px;
        font-size: 22px;
        margin-bottom: 20px;
        @media (max-width: 1440px) {
          font-size: 16px;
          margin-bottom: 10px;
        }
        @media (max-width: 768px) {
          font-size: 10px;
          margin-bottom: 6px;
        }
      }
    }
    .logo {
      max-width: 270px;
      height: 289px;
      @media (max-width: 768px) {
        max-width: 150px;
      height: 120px;
      }
    }
  }
}
