.wrapperNav{
    max-width: 1920px;
    padding: 0 45px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 0 45px;
        margin-bottom: 60px;
 
    @media (max-width: 1440px) {
    padding: 0 60px;
    margin-bottom: 50px;
    @media (max-width: 768px) {
        padding: 0 20px;
    margin-bottom: 30px;
    }
    }
}